.main:hover p {
  visibility: visible;
}

.main p {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
  padding: 15px 0;
  background-color: rgba(70, 70, 70, 0.8);
  color: #ffffff;
  width: 100%;
  font-size: 23px;
  text-align: center;
  font-family: Verdana;
}

.chaps {
  position: absolute;
  bottom: 10px;
  left: 5px;
  margin: 0 auto;
}

.chaps a {
  background-color: grey;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px 0 0 5px;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
}
